
*{
  box-sizing: content-box;
}

.App {
  margin-top: 20px;
  max-width: 100%;
  width: 250px;
  margin: 0 auto;
  background-color: rgb(74, 74, 107);
  padding: 50px;
  border-radius: 20px;
  color: white;
  border: 10px solid black;
  font-size: 20px;
}

.App h1{
  color: rgb(157, 237, 108);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:2rem;
  text-shadow: 
  -1px -1px 0 firebrick,
  -2px -2px 0 firebrick,
  -3px -3px 0 firebrick,
  -4px -4px 0 firebrick,
  -5px -5px 0 firebrick, 
  -6px -6px 0 firebrick,
  -7px -7px 0 firebrick,
  -8px -8px 0 firebrick,
  -10px -20px 30px firebrick; 
  text-align: center;
}

.App input{
  width:100%;
  padding: 5px;
  font-size: 1rem;
}

.App button{
  padding: 10px;
  border-radius: 10px;
  background: #000;
  border: 2px solid rgb(102, 91, 91);
  transition: o.3s;
  -webkit-transition: o.3s;
  -moz-transition: o.3s;
  -ms-transition: o.3s;
  -o-transition: o.3s;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

.App button:hover{
  background:rgb(187, 214, 224);
  color: black;
  border: 1px solid #ef0b0b;
}

.App p{
  opacity: 20%;
  text-align: center;
}

.App ol,li{
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
  word-wrap: break-word;
}
