*{
  box-sizing: content-box;
}
.App {
  margin-top: 20px;
  width: 40%;
  margin: 0 auto;
  background-color: rgb(49, 49, 60);
  padding: 50px;
  border-radius: 20px;
  color: white;
  border: 10px solid black;
  font-size: 20px;
}

.App h1{
  color: rgb(157, 237, 108);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:2rem;
  text-shadow: 
  -1px -1px 0 firebrick,
  -2px -2px 0 firebrick,
  -3px -3px 0 firebrick,
  -4px -4px 0 firebrick,
  -5px -5px 0 firebrick, 
  -6px -6px 0 firebrick,
  -7px -7px 0 firebrick,
  -8px -8px 0 firebrick,
  -10px -20px 30px firebrick; 
  text-align: center;
}

.App input{
  width:200px;
  padding: 5px;
  font-size: 1rem;
}

.App button{
  padding: 10px;
  background-color: rgb(19, 19, 20);
  color: beige;
  border-radius: 10px;
  
}

.App p{
  opacity: 20%;
  text-align: center;
}

.App ol,li{
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
  word-wrap: break-word;
}
